PLC_IP=127.0.0.1
PLC_PORT=1502
UNIT_ID=1

Y_BASE=0
Y_COUNT=8
HR_BASE=1
HR_COUNT=10

COMPANY_CODE=empresa123
API_KEY=KEY-EMPRESA-123

INGEST_URL=http://127.0.0.1:8080/api/ingest
REDIS_URL=redis://localhost:6379/0
TENANTS_PATH=api/tenants.json
PERIOD_S=1.0
